<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="/style.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
<style>
    
#Fm{
   margin-top: 30px;
} 
#Lip{
    width: 280px;
}
#Sbtn{
    width: 120px;
}
#Val{
   margin-top:50px;
}

</style>
    </head>
    <body>
         <br><br>
         <center><h1>Nptel Course Verification</h1></center>
         <br>
         <center>
          <form action="/login" method="post" id="Fm">
            <input type="text" placeholder="Register Number" name="RNum" id="Lip">
            <br><br>
            <input type="submit" value="Login" id="Sbtn">
          </form>
         </center>
         <center><h6 id="Val">{{value}}</h6></center>
    </body>
</html>